<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Game name</th>
      <th>Release Date</th>
      <th>ESRB Rating</th>
    </tr>
  </thead>
  <tbody>
    <% if (games.length) { %>
      
    <% games.forEach(function(g) { %>
        
    <a href="/games/<%= g._id %>"> <%= g.title %> </a>
        
    <% }); %>
      
    <% } else { %>
    <h1>You dont own any games.</h1>
    <% } %>
  </tbody>
</table>
  
<%- include('../partials/footer') %>
