<%- include('../partials/header') %>
<table id="list">
  <thead>
  </thead>
  <tbody id="list">
    <% if (games.length) { %>
      
    <% games.forEach(function(g) { %>
    <ul>
      <li><a id="list" href="/games/<%= g._id %>"> <%= g.title %> </a></li>
    </ul>
    <% }); %>
      
    <% } else { %>
    <h1 id="list">You dont own any games.</h1>
    <% } %>
  </tbody>

</table>
  
<%- include('../partials/footer') %>
