<%- include('../partials/header') %>

<form id="new-form" action="/games" method="POST">
  <label>Title:</label>
  <input type="text" name="title">
  <label>Release Date:</label>
  <input type="text" name="releaseDate">
  <label>ESRB Rating</label>
  <select name="esrbRating">
    <option value="E">E</option>
    <option value="E+10">E+10</option>
    <option value="T">T</option>
    <option value="M">M</option>
    <option value="AO">AO</option>
    <option value="RP">RP</option>
  </select>
  <input type="submit" value="Add Game">
</form>

<%- include('../partials/footer') %>
